<?xml version="1.0"?>
<config>
    <modules>
        <DT_Custom>
            <version>0.1.0</version>
        </DT_Custom>
    </modules>
    <global>
        <models>
            <dt_custom>
                <class>DT_Custom_Model</class>
            </dt_custom>
            <directory>
                <rewrite>
                    <currency>DT_Custom_Model_Directory_Currency</currency>
                </rewrite>
            </directory>
        </models>
        <blocks>
            <dt_custom>
                <class>DT_Custom_Block</class>
            </dt_custom>
            <adminhtml>
                <rewrite>
                    <catalog_product_helper_form_gallery_content>DT_Custom_Block_Adminhtml_Catalog_Product_Helper_Form_Gallery_Content</catalog_product_helper_form_gallery_content>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <dt_custom>
                <class>DT_Custom_Helper</class>
            </dt_custom>
        </helpers>
        <resources>
            <dt_custom_setup>
                <setup>
                    <module>DT_Custom</module>
                </setup>
            </dt_custom_setup>
        </resources>
    </global>
</config>